@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 0% 7%; /* #121212 */
    --foreground: 0 0% 100%; /* #FFFFFF */

    --card: 240 0% 16%; /* #282828 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */

    --popover: 240 0% 7%; /* #121212 */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */

    --primary: 1 79% 58%; /* #E53935 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 240 0% 16%; /* #282828 */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */

    --muted: 0 0% 38%; /* #616161 */
    --muted-foreground: 0 0% 88%; /* #E0E0E0 */

    --accent: 0 84% 41%; /* #B71C1C */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 1 79% 58%; /* #E53935 */
    --input: 240 0% 16%; /* #282828 */
    --ring: 1 79% 58%; /* #E53935 */

    --radius: 4px;
  }

  .dark {
    --background: 240 0% 7%; /* #121212 */
    --foreground: 0 0% 100%; /* #FFFFFF */

    --card: 240 0% 16%; /* #282828 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */

    --popover: 240 0% 7%; /* #121212 */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */

    --primary: 1 79% 58%; /* #E53935 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 240 0% 16%; /* #282828 */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */

    --muted: 0 0% 38%; /* #616161 */
    --muted-foreground: 0 0% 88%; /* #E0E0E0 */

    --accent: 0 84% 41%; /* #B71C1C */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 1 79% 58%; /* #E53935 */
    --input: 240 0% 16%; /* #282828 */
    --ring: 1 79% 58%; /* #E53935 */
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  /* NEVER REMOVE THIS */
  section[aria-label='Notifications alt+T'] {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
}

.avatar-img {
  @apply object-cover w-full h-full;
}

 .btn-gradient {
    @apply bg-zinc-950 text-primary-foreground shadow-lg transition-all duration-300 ease-in-out;
  }